@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

/*------------------------------*\
            #VARIABLES
\*------------------------------*/

:root{
    /* Colors */
    --grayish-blue: hsl(237, 18%, 59%);
    --soft-red: hsl(345, 95%, 68%);
    --white: hsl(0, 0%, 100%);
    /* --dark-blue: #8385A9; */
    --dark-desaturated-blue: hsl(236, 21%, 26%);
    --very-dark-blue: hsl(235, 16%, 14%);
    --very-dark-mostly-blue: hsl(234, 17%, 12%);

    /* Typography */
    --font-size: 14px;
}

body{
    background-color: var(--very-dark-mostly-blue);
    background-image: url(../assets/img/bg-stars.svg);
    font-family: 'Red Hat Text', sans-serif;;
    font-size: var(--font-size);
}

svg path:is(:hover, :focus){
    fill: var(--soft-red);
    stroke: var(--soft-red);
    cursor: pointer;
}

/*  */

/*------------------------------*\
            #RESET
\*------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------------------------*\
        #MAIN-CONTAINER 
\*------------------------------*/

.main-container{
    height: 78vh;
    display: flex;
    flex-direction: column;
    row-gap: 56px;
    text-align: center;
    padding-top: 146px;
}

.container-title{
    margin-bottom: 30px;
}

.container-title h1{
    color: var(--white);
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 6px;
    text-align: center;
}

/*------------------------------*\
            #COUNTDOWN
\*------------------------------*/

.countdown{
    display: flex;
    gap: 20px; 
    justify-content: center;
}
    
.time-section{
    font-size: 30px;   
    text-align: center;
}
    
.time-section p{
    color: var(--grayish-blue);
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
    
.time-group{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
    
.time-segment{
    width: 35px; 
    display: block;
    font-size: 35px; 
    font-weight: 900;
}
    
.segment-display{
    position: relative;
    height: 100%;
}
    
.segment-display__top, .segment-display__bottom{
    position: relative;
    width: 100%;
    height: 50%;
    background-color: var(--dark-desaturated-blue);
    color: var(--soft-red);
    text-align: center;
    overflow: hidden;
}
    
.segment-display__top{
    line-height: 1.5;
}
    
.segment-display__bottom{
    line-height: 0;
}
    
.segment-overlay{
    position: absolute;
    top: 0;
    width: 35px;   
    height: 100%;
    perspective: 400px;
}
    
.segment-overlay__top, .segment-overlay__bottom{
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: var(--dark-desaturated-blue);
    color: var(--soft-red);
    text-align: center;
    overflow: hidden;
} 
    
.segment-overlay__top{
    top: 0;
    line-height: 1.5;
    transform-origin: bottom;
}

.segment-overlay__bottom{
    bottom: 0;
    line-height: 0;
    transform-origin: top;
    border-top: 0.5px solid black;
}
    
.segment-overlay.flip .segment-overlay__top{
    animation: flip-top 0.8s linear; 
}

.segment-overlay.flip .segment-overlay__bottom{
    animation: flip-bottom 0.8s linear; 
}

@keyframes flip-top{
    0%{
        transform: rotateX(0deg);
    }
    50%, 100%{
        transform: rotateX(-90deg);
    }
}

@keyframes flip-bottom{
    0%, 50%{
        transform: rotateX(90deg);
    }
    100%{
        transform: rotateX(0deg);
    }
} 

/*------------------------------*\
            #FOOTER
\*------------------------------*/

.social-networks{
    height: 22vh;
    background-image: url(../assets/img/pattern-hills.svg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position-x: -740px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    padding-left: 20px;
    padding-top: 46px;
}

/* .social-networks__container img:is(:hover, :focus){
    cursor: pointer;
    border: 1px solid red; 
    fill: red;
} */

@media(min-width:500px){
    /*-----------------------*\
            #COUNTDOWN
    \*-----------------------*/
    
    .time-section p{
        font-size: 10px;
    }
        
    .time-group{
        margin-bottom: 5px;
    }
        
    .time-segment{
        width: 40px; 
        font-size: 40px; 
    }
    
    .segment-overlay{
        width: 40px;  
    }

    /*------------------------------*\
                #FOOTER
    \*------------------------------*/
    
    .social-networks{
        background-position-x: 1px;
    }
}

@media(min-width:768px){
    /*-----------------------*\
            #COUNTDOWN
    \*-----------------------*/

    .time-segment{
        width: 80px; 
        font-size: 80px; 
    }
    
    .segment-overlay{
        width: 80px;  
    } 
}

@media(min-width:1024px){
    /*------------------------------*\
                #COUNTDOWN
    \*------------------------------*/

    .countdown{
        gap: 30px;
    }
    
    .time-segment{
        width: 100px;
        font-size: 100px;
    }
    
    .segment-overlay{
        width: 100px;
    }
    
    /*------------------------------*\
                #FOOTER
    \*------------------------------*/

    .social-networks{
        background-position-x: left;
    }
}






